@import './reset.css';
@import './wiki.css';
// 导航定位
.navbar{
    position: fixed;
}

// 主体内容
.content{
    margin-top: 70px;
    margin-left: 270px;
    width: 930px;
    // 项目标题
    >h1{
        font-size: 24px;
        letter-spacing: 2px;
        &:before{
            content: '';
            display: inline-block;
            width: 5px;
            height: 24px;
            background-color: #0088cc;
            vertical-align: -3px;
            margin-right: 5px;
        }
    }
    // 接口分类
    >h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 40px;
        // 箭头
        >span{
            width: 10px;
            height: 10px;
        }
    }
    // 分类内容
    >div#staff_msg{
        // 接口名称
        >h3{
            font-size: 18px;
            margin-top: 40px;
            color: #000;
            &:before{
                content: '';
                display: inline-block;
                color: transparent;
                border-left-color: #0088cc;
                border-width: 7px;
                border-style: solid;
                width: 0px;
                height: 0px;
            }
        }
        >div#login_post, #login_post, #quit_post, #freeze_post, #dele_get, #add_post, #change_post{
            margin-bottom: 10px;
            &:before{
                content:'';
                display: table;
            }
            >p{
                // 链接以及复制链接
                &:first-child{
                    >strong{
                        padding: 6px 8px;
                        background-color: #999;
                        border-radius: 3px;
                        color: #fff;
                        display: inline-block;
                    }
                    >button{
                        cursor: pointer;
                        margin-left: 10px;

                    }
                }
                // 接口描述
                &.desc{
                    padding: 5px 0;
                    color: #909090;
                    &:before{
                        content:'描述：';
                        display: inline-block;
                    }
                }
                // 输入参数文本
                &:nth-of-type(3){
                    // 文本内容
                    >strong{

                    }

                }
                // 返回参数文本
                &:nth-of-type(4){
                    // 文本内容
                    >strong{
                        
                    }
                    // 复制纯净json按钮
                    >button{
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }
            // 输入参数表格
            >table.parameter-table{
                width: 100%;
                text-align: center;
                th{
                    text-align: center;
                    background-color: #f7f7f7;
                }
            }
            // 纯净json
        }
    }
}

// 左侧菜单栏优化
.content_box{
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    padding: 20px 0;
    background-color: #dedede;
    height: calc( 100% - 50px);
    overflow: auto;
    // 首行菜单样式
    >li{
        min-height: 40px;
        line-height: 40px;
        a{
            padding-left: 40px;
            width: 100%;
            display: inline-block;
            user-select: none;
            position: relative;
            z-index: 3;
            cursor: pointer;
            &:hover{
                background-color: #909090;
                color: #fff;
            }
            &.active{
                color: #fff;
                background-color: #0088cc;
                cursor: pointer;
                &+ul{
                    display: block !important;
                }
            }
            &+ul{
                display: none;
            }
        }
        // 二级菜单样式
        >ul{
            >li{
                >a{
                    &.active{
                        background-color: #909090;
                        color: #fff;
                    }
                }
                color: #000;
                background-color: #fbfbfb;
            }
        }
    }
}